#box_lado_direito {
    text-align: center;
    height: 100%;
    width: 500px;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-border-top-right-radius: 14px;
    -webkit-border-bottom-right-radius: 14px;
    -moz-border-radius-topright: 14px;
    -moz-border-radius-bottomright: 14px;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    background-color: #f0f0f0; /* Cor de fundo opcional */
    box-shadow: -2px 0 5px rgba(0,0,0,0.1); /* Sombra opcional para destacar a box */
    overflow: hidden; /* Para garantir que o conteúdo não saia da box */
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    #box_lado_direito {
        width: 100%;
        height: auto;
        position: static;
        border-radius: 0;
        box-shadow: none;
    }

    form {
        margin-top: 20px; /* Ajuste a margem conforme necessário */
    }

    .input {
        width: 90%; /* Ajusta a largura dos inputs */
        margin: 0 auto 18px; /* Centraliza e adiciona margem inferior */
    }

    button {
        width: 80%; /* Ajusta a largura do botão */
        margin: 0 auto; /* Centraliza o botão */
    }

    #lg_Sicoob {
        margin-top: 20px; /* Ajuste a margem conforme necessário */
    }
}

form {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    opacity: 1;
    transform: translateY(0);
}

.hidden {
    opacity: 0;
    transform: translateY(-20px);
    pointer-events: none;
}

.input {
    width: 354px;
    height: 45px;
    margin-bottom: 18px;
    border: none;
    border-radius: 4px;
    padding-left: 40px;
}

#ipt_email{
    background-image: url(../photo/user.svg);
    background-repeat: no-repeat;
    background-position: 10px;
}

#ipt_password{
    background-image: url(../photo/senha.svg);
    background-repeat: no-repeat;
    background-position: 10px;
    
}

button {
    color: white;
    width: 200px;
    height: 40px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

button:hover {
    transform: translateY(-5px);
    transition-duration: 0.6s;
    box-shadow: 0px 15px 20px 0px;
}

#botao_login {
    font-weight: bold;
    background-color: #004952;
}

#botao_registrar {
    font-weight: bold;
    border: 1px solid #004952;
    color: black !important;
}

#lg_Sicoob {
    margin-top: 50px;
    width: 250px;
}

#link_EsqueceuSenha {
    font-size: 10px;
    text-decoration: none;
}

#botao_enviar_registro{
    background-color: #004952;
    color: white;
    font-weight: bolder;
}

#botao_voltar{
    border: 1px solid #004952;
    color: black;
    font-weight: bolder;
}